{{ $baseUrl := .Site.BaseURL }}
<section id="hero" class="py-5 align-middle" style="margin-top:1px;">
  <div class="container px-3 px-sm-5 px-md-5 px-lg-5 pt-lg-3">
    <div class="row">
      <div class="col-lg-8 col-12 coverInfo">
          <span class="subtitle">Hi, my name is</span>
          <h2>{{ .Site.Params.cover.name }}</h2>
          <h3>{{ .Site.Params.cover.title }}</h3>
          <p class="text-secondary">{{ .Site.Params.cover.description }}</p>
      </div>
      
      <div class="col-sm-12 col-md-12 col-lg-4">
         <div class="row justify-content-center">
             <div class="col-sm-12 col-md-9 pt-5 image px-5 px-md-5 px-lg-0 text-center">
                <img src="{{$baseUrl}}images/image.jpg"  class="img-thumbnail mx-auto" alt="">
             </div>
         </div>
     </div>
   </div> 
  </div>
</section>
